.neon {
  animation: fl 1.5s infinite alternate;
  color: #fff;
  letter-spacing: 2px;
  font-size: 5.5rem;
}

.list {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 3px;
}

.summary {
  background-image: linear-gradient(
    to right,
    rgb(190, 92, 138),
    rgb(56, 25, 255)
  ) !important;
  border: 0;
}

.clip-f {
  display: "inline-block";
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgb(190, 92, 138),
    rgb(56, 25, 255)
  );
  background-clip: text;
  font-weight: bold;
  color: transparent;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
}

.list li span {
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.list li {
  margin-top: 1.5rem;
}

/* fling animation */
@keyframes fl {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.692),
      0 0 11px rgba(255, 255, 255, 0.692), 0 0 19px rgba(255, 255, 255, 0.692),
      0 0 20px rgba(231, 157, 45, 0.678), 0 0 20px rgba(231, 157, 45, 0.678),
      0 0 20px rgba(231, 157, 45, 0.678), 0 0 30px rgba(231, 157, 45, 0.678),
      0 0 50px rgba(231, 157, 45, 0.678);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes fl-2 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.692),
      0 0 11px rgba(255, 255, 255, 0.692), 0 0 19px rgba(255, 255, 255, 0.692),
      0 0 20px rgba(0, 255, 170, 0.596), 0 0 20px rgba(0, 255, 170, 0.596),
      0 0 20px rgba(0, 255, 170, 0.596), 0 0 20px rgba(0, 255, 170, 0.596),
      0 0 50px rgba(0, 255, 170, 0.596);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.neon-3 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  animation: fl-2 1.5s infinite alternate;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

/* Additional styling
            
          h2 {
           font-size: 1.8rem;
          }
          .container {
            margin-top: 20vh;
          } */

/* body {
            font-size: 18px;
            font-family: "Helvetica Neue", sans-serif;
            background-color: #010a01;
          }   */

/* h1 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
          } */
